<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_notification! %>

  <div class="fields">
    <%= f.label :username %><br />
    <$= f.text_field :username, autofocus: true %>
    
  </div>
  
  <div class="fields">
    <%= f.label :email %><br />
    <$= f.email_field :email %>
    
  </div>

  <div class="fields">
    <%= f.label :password %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> Characters minimum) </em>
    <% end %><br />
    
    <%= f.passwor
    
  </div>
<% end %>

<%= render "devise/shared/links" %>
